:root{
    --main-color:rgb(126, 169, 219);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    width: 30%;
    background-color: var(--main-color);
    margin: 4rem auto;
    padding: 2rem;
    border: .5rem solid var(--main-color);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding-bottom: 4rem;
}

.container h1{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.container img{
    width:40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container p{
    font-size: 1.5rem;
    text-align: center;
}



.tab {
    /* border: 2px solid black; */
    width: 100%;
    height: 40%;
    margin: 3rem auto;
    border-collapse: collapse;
}

td {
    /* border: 2px solid rebeccapurple; */
    position: relative;
    height: 6rem;
    width: 25%;
}

.lab {
    font-size: 1.5rem;
    display: none;
}

label{
    font-size: 1.5rem;
}

input[type='text'],input[type='email'], input[type='password'] ,input[type='date'],select {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: none;

}



input:focus{
    outline: none;
}

input[type='checkbox']{
    width: 1rem;
    height: 1rem;
}


input[type='submit']{
    position: absolute;
    left: 38%;
    top: 10%;
    background-color: transparent;
    color: white;
    padding: .8rem 1.5rem;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
}

input[type='submit']:hover{
    background-color: white;
    color: var(--main-color);
}



#asigntext{
    margin-top:-2rem;
}

#loginbtn{
    cursor: pointer;
    color: chocolate;
}

.lb{
    font-size: 1.4rem;
    background-color: white;
    position: absolute;
    top: 0rem;
    left: 10rem;
    z-index: 99;
    color: rgb(54, 53, 53);
}


@media screen and (max-width:768px) {

    html{
        font-size: 44%;
    }
    td {
        display: block;
        width: 100%;
        height: 6rem;
    }
     #ufname, #upass{
        width: 100%;
     }

     input[type='submit']{
        padding: 1rem 2rem;
        top: -1.5rem;
        left: 0;
     }
    
    
}