* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.card {
    /* width: 60%; */
    font-size: 1.5rem;
    /* border: 1px solid red; */
    margin: 5rem auto;
    margin-top: 3rem;
    padding: 2.5rem;
    padding-top: 4rem;
    position: relative;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card>span {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background-color: #043b8d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.card>span>h2 {
    display: inline-block;
    /* font-weight: 00; */
    font-size: 2.5rem;
}

.up-section>span {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background-color: #043b8d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.up-section>span>h2 {
    display: inline-block;
    /* font-weight: 00; */
    font-size: 2.5rem;
}

.search_btn,
.add_btn {

    background-color: #F9EDED;
    width: 12rem;
    height: 3.5rem;
    float: right;
    /* margin-right: 40px; */
    /* border: .2rem solid #0D6EFD; */
    border-radius: .8rem;
    color: #043b8d;
    font-weight: 600;
    transition: .2s;
    outline: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.search_btn:hover {
    background-color: white;
    box-shadow: 0px 0px 3px 3px white;
    color: #043b8d;
}

.add_btn:hover {
    background-color: white;
    box-shadow: 0px 0px 3px 3px white;
    color: #043b8d;
}

.tab {
    /* border: 2px solid black; */
    width: 100%;
    /* height: 40%; */
    margin: 3rem auto;
    border-collapse: collapse;
}

.search_tab {
    /* border: 2px solid black; */
    width: 100%;
    height: 40%;
    /* margin: 3rem auto; */
    margin-left: 2rem;
    border-collapse: collapse;
}

td {
    /* border: 2px solid rebeccapurple; */
    position: relative;
    height: 9rem;
    width: 25%;
}

.lab {
    position: absolute;
    top: 3.2rem;
    font-size: 1.5rem;
    /* background-color: white; */
    left: 1.1rem;
    transition: .5s;
    z-index: 999;
}



.amt_lab , .uplab{
    top: -1rem;
}

.ship_lab{
    top: 7rem;
}


input[type='text'],
select, input[type="datetime-local"], input[type='number'] {
    /* position: absolute; */
    /* top: 15%; */
    width: 90%;
    height: 5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

.search_tab #ship_td{
    position: relative;
    height: 15rem;
    width: 25%;
}

textarea {
    position: absolute;
    top: 28%;
    width: 95%;
    height: 8rem;
    padding-left: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}



.btn_td {
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.btn_grp {
    padding: 1rem;
    margin-left: -7rem;
}

.btn_grp2 {
    padding: 1rem;
    /* margin-left: -7rem; */
    /* text-align: start; */
    position: absolute;
    text-align: center;
    left: 35%;
    top: 12%;
}

.sub_btn {
    background-color: #043b8d;
    color: white;
    padding: 0.8rem 1.8rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-left: -1rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.res_btn {
    background-color: red;
    color: white;
    padding: 0.8rem 1.8rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    /* margin-left: -1rem; */
    font-size: 1.8rem;
    font-weight: 600;
}


/* styling below card after search option */

.below_card{
    font-size: 1.5rem;
    margin: 5rem auto;
    padding: 2rem;
    /* position: relative; */
    padding-top:4rem;
    padding-bottom: 5rem;
    background-color: aliceblue;
    display: none;
    /* overflow-x: scroll; */
}



.below_card>#below_span{
    font-size: 2rem;
    font-weight: 600;
    /* margin-bottom: 1rem; */
    width: 100%;
    padding: .8rem 0;
    background-color: #043b8d;
    color: white;
    margin-bottom: 2rem;
    padding-left: 1.8rem;
    border-radius: .5rem;
}

.table_container{
    overflow-x: scroll;
}

.below_card .tab {
    position: relative;
    width: 95%;
    margin: 0rem auto;
    border-collapse: collapse;
    margin-bottom: .7rem;
}
.below_card .tab th{
    background-color: #043b8d;
    color: white;
}



.tab td{
   
    margin-left: .5rem;
    position: relative;
    height: 4rem;
    width: 15%;
    margin-left: .5rem;
}

.tab th:nth-child((5)){
    text-align: center;
}

.tab,
.tab th,
.tab td {
    border: 1px solid black;border-radius: 1px;
    /* border-radius: 1px; */
    padding-left: 1rem;
}


.save {
    margin-top: 1rem;
}


.fa-pen-to-square,
fa-trash-can {
    cursor: pointer;
}

.icon_div{
    background-color: rgb(68, 255, 47);
    padding: .5rem .6rem;
    padding-left: 5rem;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.del{
    background-color: #FF0000;
}



/* styling update page */

.form_placeholder {
    position: fixed;
    z-index: 999999999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    overflow-x: scroll;
    scale: 0;
    /* display: none; */
    transition: 0.45s;
    background-color: rgba(0, 0, 0, 0.573);
    font-size: 1.5rem;
}

.updcard {
    position: relative;
    width: 90%;
    z-index: 99999999;
    padding-top: 5rem;
    padding: 5rem;
    /* background-color: rgb(86, 83, 83); */
    background-color: aliceblue;
padding-bottom: 3rem;
    box-shadow: rgba(189, 189, 189, 0.09) 0px 2px 1px, rgba(149, 148, 148, 0.09) 0px 4px 2px, rgba(211, 211, 211, 0.09) 0px 8px 4px,
        rgba(252, 252, 252, 0.09) 0px 16px 8px, rgba(250, 241, 241, 0.09) 0px 32px 16px;
}

.updcard>div {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0;
    background-color: #043b8d;
    color: white;
    padding-left: 1.8rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.form_placeholder .updcard .cut {
    position: absolute;
    border: 2px solid white;
    height: 3rem;
    top: 0;
    width: 4rem;
    right: 1.5rem;
    text-align: center;
    background-color: red;
    cursor: pointer;
    padding-right: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* styling table coming from python file */
.upd_tab {
    width: 100%;
    height: 40%;
    margin: 3rem auto;
    border-collapse: collapse;
}

.upd_tab td {
    position: relative;
    height: 9rem;
    width: 25%;
}

.upd_tab td .lab {
    position: absolute;
    top: 3.2rem;
    font-size: 1.5rem;
    left: 1.1rem;
    transition: .5s;
    z-index: 999;
}

.upd_tab td .upd_prod_height {
    position: absolute;
    top: 3.2rem;
    font-size: 1.5rem;
    left: 50%;
    transition: .5s;
    z-index: 999;
}

.upd_tab td input[type='text'],
.upd_tab td select {
    width: 90%;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

.upd_tab td input[type='file'] {
    top: 15%;
    width: 90%;
    height: 4rem;
    padding-left: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

.upd_tab td textarea {
    position: absolute;
    top: 28%;
    width: 90%;
    height: 4rem;
    padding-left: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

.upd_tab .btn_td {
    text-align: center;
}

.upd_tab td .btn_grp {
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    padding: 1rem;
}

.upd_tab td .sub_btn {
    background-color: #043b8d;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-left: -1rem;
}

.upd_tab td .res_btn {
    background-color: red;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}


.upd_tab td .upd_tab tr:nth-child(4) {
    height: 25rem;
}

.upd_tab td .image {
    width: 90%;
    height: 20rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2rem;
}


.upd_tab td input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 200px;
    opacity: 0;
}









.plus_td{
    width: 2%;
}

.addRow{
    margin-left: -2rem;
}

.removeRow{
    margin-left: -1.5rem;
    margin-top: -1rem;
}




















@media screen and (max-width:768px) {

    html {
        font-size: 55%;
    }

    /* section,.card{
        width: 100%;
    } */



    .search_tab {
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
        /* height: 8rem; */
        /* left: 5%; */
    }

    input[type='text'],
    select,
    input[type='file'],
    textarea {
        position: absolute;
        top: 15%;
        left: 5%;
        width: 90%;
        height: 4rem;
        padding-left: 1rem;
        border-radius: 1rem;
        border: 1px solid black;
        background-color: white;
    }


    .lab {
        position: absolute;
        top: 2.2rem;
        font-size: 1.5rem;
        /* background-color: white; */
        left: 6%;
        transition: .5s;
        z-index: 999;
    }

 


    #r {
        position: absolute;
        top: 48%;
        font-size: 1.3rem;
        /* margin-top: 5.5rem; */
        margin-left: .8rem;
        z-index: 9999999;
        color: red;
    }



}