* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.card {
    /* width: 60%; */
    font-size: 1.5rem;
    /* border: 1px solid red; */
    /* margin: 3rem auto; */
    padding: 2rem;
    position: relative;
    background-color: beige;
}

.card>span {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.3rem;
    /* border: 1px solid red; */
    padding: 1rem 0;
    background-color: #0D6EFD;
    color: white;
    padding-left: 1rem;
    border-radius: 1rem;
    /* width: 97%; */
}

.search_btn {
    background-color: #ffffff;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 1rem;
    width: 8rem;
    height: 3.5rem;
    position: absolute;
    right: 5%;
    top: 5%;
    transition: .5s;
}

.search_btn:hover {
    transform: scale(1.1, 1.1);
}


.tab {
    /* border: 2px solid black; */
    width: 100%;
    height: 40%;
    margin: 3rem auto;
    border-collapse: collapse;
}

td {
    /* border: 2px solid rebeccapurple; */
    position: relative;
    height: 9rem;
    width: 25%;
}

.lab {
    position: absolute;
    top: 3.2rem;
    font-size: 1.5rem;
    /* background-color: white; */
    left: 1.1rem;
    transition: .5s;
    z-index: 999;
}

input[type='text'],

select {
    /* position: absolute; */
    /* top: 15%; */
    width: 90%;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

input[type='file'] {
    /* position: absolute; */
    top: 15%;
    width: 90%;
    height: 4rem;
    padding-left: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

textarea {
    position: absolute;
    top: 28%;
    width: 95%;
    height: 4rem;
    padding-left: 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
}

.btn_td{
    text-align: center;
}

.btn_grp{
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    padding: 1rem;
}

.sub_btn{
    background-color: #0D6EFD;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-left: -1rem;
}

.res_btn{
    background-color: red;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}



















@media screen and (max-width:768px) {

    html {
        font-size: 55%;
    }






    .tab {
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
        /* height: 8rem; */
        /* left: 5%; */
    }

    input {
        width: 100%;
    }


    #r {
        position: absolute;
        top: 48%;
        font-size: 1.3rem;
        /* margin-top: 5.5rem; */
        margin-left: .8rem;
        z-index: 9999999;
        color: red;
    }



}