:root {
    --main-color: rgb(126, 169, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    width: 70%;
    /* height: 95vh; */
    /* background-color: var(--main-color); */
    margin: 1rem auto;
    /* float: right; */
    /* margin-right: 5rem; */
    margin-top: 1.5rem;
    padding: 2rem;
    border: .5rem solid var(--main-color);
    border-radius: 1rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding-bottom: 4rem;
    /* position: relative; */
}

.container h1 {
    font-size: 4rem;
    /* color: white; */
    text-align: center;
}
/* 
.container img {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
} */

/* .container p {
    font-size: 1.8rem;
    text-align: center;
} */



.tab {
    border: 2px solid black;
    width: 100%;
    height: 40%;
    margin: 3rem auto;
    border-collapse: collapse;
    position: relative;
}

td {
    border: 2px solid rebeccapurple;
    position: relative;
    height: 7rem;
    /* align-items: center; */
    width: 25%;
    
}

.tab td label{
    position: absolute;
    top: 2.5rem;
    font-size: 1.8rem;
    background-color: white;
    left: 1rem;
    transition: .5s;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select {
    /* position: absolute; */
    width: 95%;
    height: 5rem;
    /* margin:0 auto; */
    box-shadow: rgba(254, 252, 252, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding-left: 1rem;
    border-radius: .2rem;
    border: none;

}

input[type='radio'] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

#ufname,
#upass,
#uemail {
    width: 95%;
}

.emailbox {
    width: 95%;
}

input:focus {
    outline: none;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .8rem;
}

div.agree {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}



input[type='submit'] {
    position: absolute;
    left: 38%;
    top: 10%;
    background-color: transparent;
    color: white;
    padding: .8rem 2rem;
    font-size: 1.8rem;
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: white;
    color: var(--main-color);
}


.forimg{
    border: 2px solid red ;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}
.tab td input[type='file'] {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: -1;
    height: 100%;
    z-index: 111111;
}
.forimg img{
    
    width: 100%;
    height: 100%;
    
    /* z-index: -1; */
}


@media screen and (max-width:768px) {

    html{
        font-size: 44%;
    }
    td {
        display: block;
        width: 100%;
        height: 6rem;
    }
    
    
    
}

@media screen and (max-width:808px) {

    html{
        font-size: 44%;
    }
    td {
        display: block;
        width: 100%;
        height: 6rem;
    }
    
    
    
}