:root {
    /* --main-color: rgb(212, 173, 84); */
    /* --main-color:rgb(51, 62, 185); */
    --main-color: rgb(35, 50, 223);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    /* background-color: var(--main-color); */
    /* font-family: 'Montserrat', sans-serif; */
}

.main_container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: 6rem auto;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border: .2rem solid var(--main-color);
    overflow: hidden;
}

.container {
    width: 50%;
    /* height: 95vh; */
    background-color: white;
    padding: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding-bottom: 4rem;
}

.container h1 {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
}

.container img {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container p {
    font-size: 1.8rem;
    text-align: center;
}

.right_container {
    width: 50%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_container h1 {
    text-align: center;
    font-size: 3rem;

    color: white;
}

.right_container p {
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: gainsboro;
    margin-top: 1.5rem;
}


.tab {
    /* border: 2px solid black; */
    width: 100%;
    height: 40%;
    margin: 3rem auto;
    border-collapse: collapse;
}

td {
    /* border: 2px solid rebeccapurple; */
    position: relative;
    height: 7rem;
    width: 25%;
}

.tab td .lab {
    position: absolute;
    top: 2.1rem;
    font-size: 1.5rem;
    /* background-color: white; */
    left: 1.1rem;
    transition: .5s;
    z-index: 999;
}

label {
    font-size: 1.8rem;
}



input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--main-color);
    /* background-color: rgb(230, 224, 224); */
}

input[type='radio'] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

/* 
#ufname,
#upass,
#uemail {
    width: 100%;
} */


#userid,
#uemail,
#upass {
    width: 95%;
}


input:focus {
    outline: none;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .8rem;
}

div.agree {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.belowAgree {
    margin-top: -2.5rem;
}

input[type='submit'] {
    position: absolute;
    left: 38%;
    top: -10%;
    background-color: transparent;
    color: var(--main-color);
    padding: .8rem 2rem;
    font-size: 1.8rem;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}




#asigntext {
    margin-top: -4rem;
}

#loginbtn {
    cursor: pointer;
    color: blue;
}

#r {
    position: absolute;
    /* top: 10rem; */
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-left: .8rem;
    z-index: 9999999;
    color: red;
}

/* #sbtd{
    display: flex;
    justify-content: center;
} */

.lb {
    font-size: 1.4rem;
    background-color: white;
    position: absolute;
    top: 0rem;
    left: 10rem;
    z-index: 99;
    color: rgb(54, 53, 53);
}

div.msg_box{
    width: 20rem;
    height: 10rem;
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 19999;
    display: none;
}

.msg_box .msg{
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 5%;

    /* display: none; */
}


@media screen and (max-width:768px) {

    html {
        font-size: 55%;
    }

    .main_container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .container, .right_container {
        width: 100%;
    }

    .right_container{
        display: none;
    }

    td {
        display: block;
        width: 100%;
        height: 8rem;
    }

    #userid,
    #upass, #uemail {
        width: 100%;
    }

    .belowAgree{
        margin-top: 0;
    }

    #r{
        position: absolute;
        top: 48%;
        font-size: 1.3rem;
        /* margin-top: 5.5rem; */
        margin-left: .8rem;
        z-index: 9999999;
        color: red;
    }    

    input[type='submit'] {
        padding: 1rem 2rem;
        top: -1.5rem;
        left: 0;
        width: 100%;
        background-color: var(--main-color);
        color: white;
    }


}